<ion-header>
  <ion-toolbar text-center>
    <ion-title>Descrição</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        {{descricoes[indice - 1]}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Deixe sua avaliação:
        <ion-range min="0" max="5" step="1" snaps="true" ticks="true" [(ngModel)]="nota">
          <ion-label slot="start">0</ion-label>
          <ion-label slot="end">5</ion-label>
        </ion-range>
        Média das avaliações: {{media}} <br><br>
        <ion-button (click)="atualizaNotaBD()">Enviar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="closeModal()">Fechar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>