<ion-header>
  <ion-toolbar>
    <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="texto">
    Preencha os dados abaixo para entrar em contato conosco:
  </div>
  <div class="input">
    <ion-item>
      <ion-input placeholder="Nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="E-mail"></ion-input>
    </ion-item>
  </div>

  <div class="caixaTexto">
    <ion-item>
      <ion-textarea placeholder="Digite aqui sua mensagem" rows="10" cols="20"></ion-textarea>
    </ion-item>
  </div>

  <div class="botao">
    <ion-button expand="block">Enviar</ion-button>
  </div>
</ion-content>