<ion-header>
  <ion-toolbar>
    <ion-title>Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="texto">
    Seja bem-vindo ao [aplicativo]. Aqui você poderá encontrar várias cartilhas e vídeos sobre pesca artesanal. Caso
    queira, você pode criar
    um cadastro abaixo para salvar suas preferências, ou então já começar a usar, selecionando uma das opções na barra
    inferior.
  </div>

  <div class="textoCadastro">
    Cadastro
  </div>

  <div class="input">
    <ion-item>
      <ion-input placeholder="Nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="E-mail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Senha" type="password"></ion-input>
    </ion-item>

    <ion-button expand="block">Enviar</ion-button>
  </div>
</ion-content>