.texto
{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    //margin-bottom: 30px;
}

.lista
{
    //margin-left: 20px;
    margin-right: 20px;
}

.item ion-thumbnail
{
    min-width: 6rem;    
    min-height: 2rem;
}