<ion-header>
  <ion-toolbar>
    <ion-title>Vídeos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="texto">
    Confira abaixo alguns vídeos sobre vários assuntos relacionados à pesca artesanal:
  </div>
  <div class="lista">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://img.youtube.com/vi/QO9Q2BtxN3w/mqdefault.jpg">
        </ion-thumbnail>
        <ion-label onclick="window.open('https://www.youtube.com/watch?v=QO9Q2BtxN3w', '_blank', 'location=yes'); return false;">Vida dos Pescadores da Pesca Artesanal<br>
        </ion-label>
        <ion-button (click)="openModal(1)">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://img.youtube.com/vi/KM6BkgCyShE/mqdefault.jpg">
        </ion-thumbnail>
        <ion-label onclick="window.open('https://www.youtube.com/watch?v=KM6BkgCyShE', '_blank', 'location=yes'); return false;">História da pesca artesanal na Lagoa dos Patos<br>
        </ion-label>
        <ion-button (click)="openModal(2)">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://img.youtube.com/vi/LQvc2bB3X8U/mqdefault.jpg">
        </ion-thumbnail>
        <ion-label onclick="window.open('https://www.youtube.com/watch?v=LQvc2bB3X8U', '_blank', 'location=yes'); return false;">O que é a pesca artesanal?<br>
        </ion-label>
        <ion-button (click)="openModal(3)">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://img.youtube.com/vi/vdWgajxFznw/mqdefault.jpg">
        </ion-thumbnail>
        <ion-label onclick="window.open('https://www.youtube.com/watch?v=vdWgajxFznw', '_blank', 'location=yes'); return false;">Os pescadores de Tamoios pedem por um cais<br>
        </ion-label>
        <ion-button (click)="openModal(4)">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://img.youtube.com/vi/YQPfrmy5vZw/mqdefault.jpg">
        </ion-thumbnail>
        <ion-label onclick="window.open('https://www.youtube.com/watch?v=YQPfrmy5vZw', '_blank', 'location=yes'); return false;">Indústria do petróleo<br>
        </ion-label>
        <ion-button (click)="openModal(5)">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://img.youtube.com/vi/JHDKQlmmdQI/mqdefault.jpg">
        </ion-thumbnail>
        <ion-label onclick="window.open('https://www.youtube.com/watch?v=JHDKQlmmdQI', '_blank', 'location=yes'); return false;">Futuro incerto<br>
        </ion-label>
        <ion-button (click)="openModal(6)">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://img.youtube.com/vi/Zz3vfEgnjRc/mqdefault.jpg">
        </ion-thumbnail>
        <ion-label onclick="window.open('https://www.youtube.com/watch?v=Zz3vfEgnjRc', '_blank', 'location=yes'); return false;">Sem água, sem peixe<br>
        </ion-label>
        <ion-button (click)="openModal(7)">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://img.youtube.com/vi/QiJnJrFE6DU/mqdefault.jpg">
        </ion-thumbnail>
        <ion-label onclick="window.open('https://www.youtube.com/watch?v=QiJnJrFE6DU', '_blank', 'location=yes'); return false;">A conquista da limpeza<br>
        </ion-label>
        <ion-button (click)="openModal(8)">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://img.youtube.com/vi/CaWFChimiK8/mqdefault.jpg">
        </ion-thumbnail>
        <ion-label onclick="window.open('https://www.youtube.com/watch?v=CaWFChimiK8', '_blank', 'location=yes'); return false;">História de Tio Jorge<br>
        </ion-label>
        <ion-button (click)="openModal(9)">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
  </div>
</ion-content>