<ion-header>
  <ion-toolbar>
    <ion-title>Vídeos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="texto">
    Confira abaixo alguns vídeos sobre vários assuntos relacionados à pesca artesanal:
  </div>
  <div class="lista">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://img.youtube.com/vi/QO9Q2BtxN3w/mqdefault.jpg">
        </ion-thumbnail>
        <ion-label color="light" onclick="window.open('https://www.youtube.com/watch?v=QO9Q2BtxN3w', '_blank', 'location=yes'); return false;">Vida dos Pescadores da Pesca Artesanal<br>
        </ion-label>
        <ion-button (click)="openModal(1)">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <!--
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://img.youtube.com/vi/fCYXZDzVDh0/mqdefault.jpg">
        </ion-thumbnail>
        <ion-label color="light">[Nome]<br>
        </ion-label>
        <ion-button (click)="openModal(2)">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://img.youtube.com/vi/fCYXZDzVDh0/mqdefault.jpg">
        </ion-thumbnail>
        <ion-label color="light">[Nome]<br>
        </ion-label>
        <ion-button (click)="openModal(3)">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://img.youtube.com/vi/fCYXZDzVDh0/mqdefault.jpg">
        </ion-thumbnail>
        <ion-label color="light">[Nome]<br>
        </ion-label>
        <ion-button (click)="openModal(4)">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://img.youtube.com/vi/fCYXZDzVDh0/mqdefault.jpg">
        </ion-thumbnail>
        <ion-label color="light">[Nome]<br>
        </ion-label>
        <ion-button (click)="openModal(5)">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
      -->
  </div>
</ion-content>