<ion-header>
  <ion-toolbar>
    <ion-title>Vídeos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="texto">
    Confira abaixo alguns vídeos sobre vários assuntos relacionados à pesca artesanal:
  </div>
  <div class="lista">
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://img.youtube.com/vi/fCYXZDzVDh0/mqdefault.jpg">
        </ion-thumbnail>
        <ion-label>[Nome]<br>
        </ion-label>
        <ion-button (click)="openModal()">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://img.youtube.com/vi/fCYXZDzVDh0/mqdefault.jpg">
        </ion-thumbnail>
        <ion-label>[Nome]<br>
        </ion-label>
        <ion-button (click)="openModal()">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://img.youtube.com/vi/fCYXZDzVDh0/mqdefault.jpg">
        </ion-thumbnail>
        <ion-label>[Nome]<br>
        </ion-label>
        <ion-button (click)="openModal()">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://img.youtube.com/vi/fCYXZDzVDh0/mqdefault.jpg">
        </ion-thumbnail>
        <ion-label>[Nome]<br>
        </ion-label>
        <ion-button (click)="openModal()">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://img.youtube.com/vi/fCYXZDzVDh0/mqdefault.jpg">
        </ion-thumbnail>
        <ion-label>[Nome]<br>
        </ion-label>
        <ion-button (click)="openModal()">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>